{% extends 'base.html.twig' %}

{% block title %}Client List{% endblock %}

{% block body %}
   <div class="container mt-4">
       <h1>Clients</h1>
       <a class="btn btn-primary mb-3" href="{{ path('client_new') }}">Create new Client</a>
       <table class="table table-striped">
           <thead>
               <tr>
                   <th>ID</th>
                   <th>Name</th>
                   <th>Email</th>
                   <th>Actions</th>
               </tr>
           </thead>
           <tbody>
               {% for client in clients %}
                   <tr>
                       <td>{{ client.id }}</td>
                       <td>{{ client.name }}</td>
                       <td>{{ client.email }}</td>
                       <td>
                           <a href="{{ path('client_show', {'id': client.id}) }}" class="btn btn-info btn-sm">Show</a>
                           <a href="{{ path('client_edit', {'id': client.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                           {{ include('client/_delete_form.html.twig') }}
                       </td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
{% endblock %}
